@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body{
    background-color:  #EEF9BF;

}
.titulo{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    color:#75B79E;
    width: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.playplace{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}
.organizar{ 
    
}
.cima {
    width:80%;
    height:200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}
.baixo{
    width:80%;
    height:200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}
.carta:hover{
    cursor: pointer;
    filter: brightness(125%);
}
.carta:active{
    transform: rotateY(180deg);
}
.carta{
    width: 117px;
    height: 146px;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #A7E9AF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.escondido {
    display: none;
}
.escondido2{
    background-color: #EEF9BF;
    border: 0px;
    z-index: 1;
}
@media (max-width: 767px) {
    .cima{
        flex-direction: column;
        align-content: space-around;  
        height: auto;      
    }
    .baixo{
        flex-direction: column;
        align-content: space-around;
        height: auto;
    }
}